# **1. 배열**

* 데이터를 나열하고 각 데이터를 인덱스에 대응하도록 구성한 자료구조
* 파이썬에서는 리스트 타입이 배열의 기능을 제공하고 있다.

### **1-1. 배열이 필요한 이유**

* 같은 종류의 데이터를 효율적으로 관리하기 위해 사용
* 같은 종류의 데이터를 순차적으로 저장한다.
* 빠른 접근이 가능하다.(인덱스 번호로 접근)

### **1-2. 배열의 단점**

* 데이터의 추가 / 삭제 가 어렵다.
* 데이터의 최대 길이를 미리 설정해야 한다.

In [2]:
# 1차원 배열 : 리스트로 구현
arr_list = [1, 2, 3, 4, 5]
print(arr_list)

[1, 2, 3, 4, 5]

In [4]:
# 2차원 배열 : 리스트로 구현
arr_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(arr_list)

[[1, 2, 3], [4, 5, 6]]

In [7]:
print(arr_list[0])
print(arr_list[0][0])
print(arr_list[1][2])

[1, 2, 3]
1
6

In [8]:
# 위의 2차원 배열에서 값을 9 8 7 순서로 출력

In [22]:
arr_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for i in range(0, 3) :
  print(arr_list[2][2 - i])

9
8
7

### **문제**
dataset 리스트에서 전체 이름 안에 'M' 은 몇 번 나왔는지 빈도수를 출력

In [44]:
dataset = ['Braund, Mr. Owen Harris',
'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
'Heikkinen, Miss. Laina',
'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
'Allen, Mr. William Henry',
'Moran, Mr. James',
'McCarthy, Mr. Timothy J',
'Palsson, Master. Gosta Leonard',
'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
'Nasser, Mrs. Nicholas (Adele Achem)',
'Sandstrom, Miss. Marguerite Rut',
'Bonnell, Miss. Elizabeth',
'Saundercock, Mr. William Henry',
'Andersson, Mr. Anders Johan',
'Vestrom, Miss. Hulda Amanda Adolfina',
'Hewlett, Mrs. (Mary D Kingcome) ',
'Rice, Master. Eugene']
count = 0
sum = 0

for i in dataset :
  count = i.count('M')
  sum = sum + count
print('M 의 갯수는 {} 개 이다.'.format(sum))

Mcount = 0

for data in dataset :
  for index in range(len(data)) :
    if data[index] == 'M' :
      Mcount += 1
print('M 의 갯수는 {} 개 이다.'.format(Mcount))

M 의 갯수는 22 개 이다.
M 의 갯수는 22 개 이다.